$colors: rgb(233, 233, 233), rgb(216, 216, 216), rgb(250, 250, 250),
  rgb(204, 204, 204), rgb(240, 240, 240), rgb(224, 224, 224);

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  margin: 3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
  cursor: pointer;

  .card {
    transition: transform 1s;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        background: nth($colors, $i);
      }
    }

    &:hover {
      transform: translateY(-10px);
    }

    img {
      width: 100%;
    }

    .info {
      margin: 1rem;
      strong {
        font-size: 1.3em;
      }
    }
  }
}
